{{ define "main" }}
<main class="mdc-top-app-bar--fixed-adjust">
    <div class="mdc-layout-grid container">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                <h5 class="mdc-typography--headline5 mt-1 mb-0">Terms of Use</h5>
                <div class="underline "></div>

                <p class="mdc-typography--body2">
                    Last updated: 2-Mar-2021
                </p>

                <h6 class="mdc-typography--headline6 mt-2 mb-0">Introduction</h6>
                <p>
                    These Website Standard Terms and Conditions written on this webpage shall manage your use of
                    our website, Cape to Kaitaia accessible at c2k.co.nz.
                </p>
                <p>
                    These Terms will be applied fully and affect to your use of this Website. By using this
                    Website, you agreed to accept all terms and conditions written in here. You must not use
                    this Website if you disagree with any of these Website Standard Terms and Conditions.
                </p>
                <p>
                    People below 13 years old are not allowed to use this Website.
                </p>

                <h6 class="mdc-typography--headline6 mt-2 mb-0">Intellectual Property Rights</h6>
                <p>
                    Other than the content you own, under these Terms, Cape to Kaitaia along with Ownage Limited
                    and/or its licensors own all the intellectual property rights and materials contained in
                    this Website.
                </p>
                <p>
                    You are granted limited license only for purposes of viewing the material contained on this
                    Website.
                </p>

                <h6 class="mdc-typography--headline6 mt-2 mb-0">Restrictions</h6>
                <p>
                    You are specifically restricted from all of the following:
                </p>
                <ul>
                    <li>
                        selling, sublicensing and/or otherwise commercializing any Website material;
                    </li>
                    <li>
                        using this Website in any way that is or may be damaging to this Website and its owners;
                    </li>
                    <li>
                        using this Website in any way that impacts user access to this Website;
                    </li>
                    <li>
                        using this Website contrary to applicable laws and regulations, or in any way may cause
                        harm to the Website, or to any person or business entity;
                    </li>
                </ul>
                <p>
                    Certain areas of this Website are restricted from being accessed by you and we may
                    further restrict access by you to any areas of this Website, at any time, in absolute
                    discretion. Any user ID and password you may have for this Website are confidential and you
                    must maintain confidentiality as well.
                </p>

                <h6 class="mdc-typography--headline6 mt-2 mb-0">No warranties</h6>
                <p>
                    This Website is provided “as is,” with all faults, and Cape to Kaitaia express no
                    representations or warranties, of any kind related to this Website or the materials
                    contained on this Website. Also, nothing contained on this Website shall be interpreted as
                    advising you.
                </p>

                <h6 class="mdc-typography--headline6 mt-2 mb-0">Limitation of liability</h6>
                <p>
                    In no event shall Cape to Kaitaia, nor any of its officers, directors and employees, shall be
                    held liable for anything arising out of or in any way connected with your use of this
                    Website whether such liability is under contract. Cape to Kaitaia, including its officers,
                    volunteers, directors and employees shall not be held liable for any indirect, consequential
                    or special liability arising out of or in any way related to your use of this Website.
                </p>

                <h6 class="mdc-typography--headline6 mt-2 mb-0">Indemnification</h6>
                <p>
                    You hereby indemnify to the fullest extent Cape to Kaitaia from and against any and/or all
                    liabilities, costs, demands, causes of action, damages and expenses arising in any way
                    related to your breach of any of the provisions of these Terms.
                </p>

                <h6 class="mdc-typography--headline6 mt-2 mb-0">Severability</h6>
                <p>
                    If any provision of these Terms is found to be invalid under any applicable law, such
                    provisions shall be deleted without affecting the remaining provisions herein.
                </p>

                <h6 class="mdc-typography--headline6 mt-2 mb-0">Variation of Terms</h6>
                <p>
                    Cape to Kaitaia is permitted to revise these Terms at any time as it sees fit, and by using
                    this Website you are expected to review these Terms on a regular basis.
                </p>

                <h6 class="mdc-typography--headline6 mt-2 mb-0">Assignment</h6>
                <p>
                    Cape to Kaitaia is allowed to assign, transfer, and subcontract its rights and/or
                    obligations under these Terms without any notification. However, you are not allowed to
                    assign, transfer, or subcontract any of your rights and/or obligations under these Terms.
                </p>

                <h6 class="mdc-typography--headline6 mt-2 mb-0">Entire Agreement</h6>
                <p>
                    These Terms constitute the entire agreement between Cape to Kaitaia and you in relation to
                    your use of this Website, and supersede all prior agreements and understandings.
                </p>

                <h6 class="mdc-typography--headline6 mt-2 mb-0">Governing Law &amp; Jurisdiction</h6>
                <p>
                    These Terms will be governed by and interpreted in accordance with the laws of the State of
                    Country, and you submit to the non-exclusive jurisdiction of the state and federal courts
                    located in Country for the resolution of any disputes.
                </p>
            </div>
        </div>
    </div>
</main>
{{ end }}

{{ define "script" }}
<script>
    mdc.autoInit();
    const iconButtonRipple = new mdc.ripple.MDCRipple(document.querySelector('.mdc-icon-button'));
    iconButtonRipple.unbounded = true;
</script>

{{ end }}