{{ define "main" }}
<main class="mdc-top-app-bar--fixed-adjust">
    <div class="mdc-layout-grid container">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                <h5 class="mdc-typography--headline5 mt-1 mb-0">Privacy Policy</h5>
                <div class="underline "></div>

                <p class="mdc-typography--body2">
                    Last updated: 3-Mar-2021
                </p>

                <p>
                    At Cape to Kaitaia, accessible at c2k.co.nz, one of our main priorities is the privacy of
                    our visitors. This Privacy Policy document contains types of information that is collected
                    and recorded by Cape to Kaitaia and how we use it.
                </p>
                <p>
                    If you have additional questions or require more information about our Privacy Policy, do
                    not hesitate to contact us through email at privacy@c2k.co.nz
                </p>

                <h6 class="mdc-typography--headline6 mt-2 mb-0">Log Files</h6>
                <p>
                    Cape to Kaitaia follows a standard procedure of using log files. These files log visitors when
                    they visit websites. All hosting companies do this and a part of hosting services'
                    analytics. The information collected by log files include internet protocol (IP) addresses,
                    browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages,
                    and possibly the number of clicks. These are not linked to any information that is
                    personally identifiable. The purpose of the information is for analyzing trends,
                    administering the site, tracking users' movement on the website, and gathering demographic
                    information.
                </p>

                <h6 class="mdc-typography--headline6 mt-2 mb-0">Cookies and Web Beacons</h6>
                <p>
                    Like any other website, Cape to Kaitaia uses ‘cookies'. These cookies are used to store
                    information including visitors' preferences, and the pages on the website that the visitor
                    accessed or visited. The information is used to optimize the users' experience by
                    customizing our web page content based on visitors' browser type and/or other information.
                </p>

                <h6 class="mdc-typography--headline6 mt-2 mb-0">Children's Information</h6>
                <p>
                    Another part of our priority is adding protection for children while using the internet. We
                    encourage parents and guardians to observe, participate in, and/or monitor and guide their
                    online activity.
                </p>
                <p>
                    Cape to Kaitaia does not knowingly collect any Personal Identifiable Information from children
                    under the age of 13. If you think that your child provided this kind of information on our
                    website, we strongly encourage you to contact us immediately and we will do our best efforts
                    to promptly remove such information from our records.
                </p>

                <h6 class="mdc-typography--headline6 mt-2 mb-0">Online Privacy Policy Only</h6>
                <p>
                    This privacy policy applies only to our online activities and is valid for visitors to our
                    website with regards to the information that they shared and/or collect in c2k.co.nz.
                    This policy is not applicable to any information collected offline or via channels other
                    than this website.
                </p>

                <h6 class="mdc-typography--headline6 mt-2 mb-0">Consent</h6>
                <p>
                    By using our website, you hereby consent to our Privacy Policy and agree to its <a href="/terms"
                        target="_blank">Terms of Use.</a>
                </p>
            </div>
        </div>
    </div>
</main>
{{ end }}

{{ define "script" }}
<script>
    mdc.autoInit();
    document.querySelectorAll('.mdc-button').forEach(
        function (ele) {
            mdc.ripple.MDCRipple.attachTo(ele);
        });
    const iconButtonRipple = new mdc.ripple.MDCRipple(document.querySelector('.mdc-icon-button'));
    iconButtonRipple.unbounded = true;
</script>
{{ end }}