/* Rules for sizing the icon. */
.material-symbols-outlined.md-18 {
    font-size: 18px;
}

.material-symbols-outlined.md-24 {
    font-size: 24px;
}

.material-symbols-outlined.md-36 {
    font-size: 36px;
}

.material-symbols-outlined.md-48 {
    font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-symbols-outlined.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-symbols-outlined.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-symbols-outlined.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-symbols-outlined.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}