.star-rating {
    span {
        font-size: 40px;
    }

    span::before {
        content: "☆";
    }

    span.active::before {
        content: "★";
    }
    span:hover {
        cursor: pointer;
    }
    font-size: 0;
    color: var(--default-rating-color);
}

.star-rating-results {
    span {
        font-size: 20px;
    }

    span::before {
        content: "☆";
    }

    span.active::before {
        content: "★";
    }
    font-size: 0;
    color: var(--default-rating-color);
}

.rating {
    color: var(--default-rating-color);
}

.rating-line {
    margin-bottom: 11px;
    padding-top: 3px;
    position: relative;
}

.rating-score {
    left: 0;
    line-height: 1;
    margin-right: 6px;
    position: absolute;
    top: 0;
}

.rating-bar {
    background-color: #f0f0f0;
    border-radius: 20px;
    height: 9px;
    margin-left: 16px;
}

.rating-fill {
    height: 100%;
    background-color: #fbbc05;
    border-radius: 10px;
}
