.StripeElement {
    box-sizing: border-box;
    padding: 18px;
    border: 1px solid rgba(0,0,0,.38);
    border-radius: 4px;
}

.StripeElement--focus {
   border-color: var(--mdc-theme-primary);
   border-width: 1px;
}