@import "container";
@import "icons";
@import "margins";
@import "padding";
@import "rating";
@import "stripe";

:root {
    --mdc-theme-primary: rgb(210, 49, 115);
    --mdc-theme-secondary: rgb(210, 49, 115);
    --link-color: #1965f3;
    --mdc-theme-on-primary: rgba(255, 255, 255, 1);
    --background-color: #fafafa;
    --color: #333;
    --text-muted: rgba(0, 0, 0, 0.54);
    --hr-color: rgba(0, 0, 0, 0.12);
    --border-color: rgba(0, 0, 0, 0.12);
    --text-field-border-color: rgba(0, 0, 0, 0.38);
    --text-field-hover-color: rgba(0, 0, 0, 0.87);
    --text-field-floating-label: rgba(0, 0, 0, 0.6);
    --default-rating-color: #fbbc05;
}

html {
    --mdc-typography-font-family: "Open Sans", sans-serif;
}

.mdc-top-app-bar {
    top: 0;
    left: 0;
    color: var(--mdc-theme-primary);
    background-color: var(--background-color);
}

.mdc-top-app-bar a {
    color: var(--color);
    text-decoration: none;
}

.mdc-radio .mdc-radio__native-control:enabled:not(:checked) + .mdc-radio__background .mdc-radio__outer-circle {
    border-color: var(--border-color);
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: var(--text-field-floating-label);
}

.thick-line {
    border-bottom: 10px solid white;
}

.icon-color {
    color: var(--mdc-theme-primary);
}

body {
    background-color: var(--background-color);
    color: var(--color);
    transition: color var(--duration) var(--timing), background-color var(--duration) var(--timing);
    margin: 0;
    overscroll-behavior-y: none;
}

header {
    border-bottom: 1px solid var(--border-color);
}

.border {
    border: 1px solid var(--border-color);
}

hr {
    border: 0;
    border-bottom: 1px solid var(--hr-color);
}

.pointer {
    cursor: pointer;
}

.primary-color {
    color: var(--mdc-theme-primary);
}

.themed-text {
    color: var(--color);
}

.text-muted {
    color: var(--text-muted);
}

.round-corners {
    border-radius: 8px;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.underline {
    width: 100px;
    border-radius: 5px 5px 0 0;
    height: 3px;
    background: currentColor;
    color: var(--mdc-theme-primary);
    margin-top: 12px;
    margin-bottom: 12px;
}

.x-center {
    margin-left: auto;
    margin-right: auto;
}

.opacity-0 {
    opacity: 0;
    -webkit-transition: opacity 200ms;
    -moz-transition: opacity 200ms;
    -o-transition: opacity 200ms;
    transition: opacity 200ms;
}

.opacity-1 {
    opacity: 1;
    -webkit-transition: opacity 200ms;
    -moz-transition: opacity 200ms;
    -o-transition: opacity 200ms;
    transition: opacity 200ms;
}

.align-icon {
    vertical-align: sub;
    margin-right: 10px;
}

.full-width {
    width: 100%;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

.tabbar-content {
    display: none;
}
.tabbar-content--active {
    display: block;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.text-error {
    color: indianred !important;
}

.hidden {
    display: none;
}

.hidden-phone {
    @media (max-width: 599px) {
        display: none;
    }
}

.hidden-tablet {
    @media (min-width: 600px) and (max-width: 839px) {
        display: none;
    }
}

.hidden-desktop {
    @media (min-width: 840px) {
        display: none;
    }
}

.banner-image {
    @media (max-width: 599px) {
        height: 240px;
    }
    @media (min-width: 600px) and (max-width: 839px) {
        height: 400px;
    }
    height: 480px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
