<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
    <meta name="description" content="{{.Title}}">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    {{ $title := printf "%s | %s" .Title site.Title }}
    <title>
        {{ $title }}
    </title>
    {{ $style := resources.Get "scss/app.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0&display=block" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap">
    <link rel="stylesheet" href="/material-components-web.min.css?v={{ $.Site.Params.mdcVersion }}">
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    {{ block "header" . }}{{ end }}
</head>

<body class="mdc-typography mdc-typography--body1">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <header class="mdc-top-app-bar mdc-top-app-bar--fixed">
        <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start" style="width: 0;">
                <a href="/">
                    <button class="mdc-icon-button mdc-icon-button--touch material-symbols-outlined">
                        <div class="mdc-icon-button__ripple"></div>
                        arrow_back
                        <div class="mdc-icon-button__touch"></div>
                    </button>
                </a>
            </section>
            <section class="mdc-top-app-bar__section">
                <a class="x-center" href="/">
                    <span class="mdc-top-app-bar__title pl-0">CAPE TO KAITAIA</span>
                </a>
            </section>
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
            </section>
        </div>
    </header>

    {{ block "main" . }}{{ end }}
    <script src="/material-components-web.min.js?v={{ $.Site.Params.mdcVersion }}"></script>
    {{ block "script" . }}{{ end }}

</body>

</html>