{{ define "main" }}
<main class="mdc-top-app-bar--fixed-adjust">
    <div class="mdc-layout-grid container">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                <h5 class="mdc-typography--headline5 mt-1 mb-0">Event Waiver</h5>
                <div class="underline "></div>
                <ul>
                    <li>I/We acknowledge that road cycling/triathlon involves risk and acknowledge I/we
                        enter at my/our own risk.</li>
                    <li>I/We have sufficient competence and experience to participate safely.</li>
                    <li>I/We accept that the event takes place on public roads and that I/we will share
                        the road with other users.</li>
                    <li>I/We acknowledge and accept that there are completely NO road closures.</li>
                    <li>I/We agree to follow the set course and abide by the legal road rules, event
                        signage and directions of event officials and Police at ALL times.</li>
                    <li>I/We understand that it is compulsory to attend the Pre-Race briefing.</li>
                    <li>I/We hereby consent to receive medical assistance in the event of injury,
                        accident and/or illness during the event.</li>
                    <li>I/We accept that if the event is cancelled I/we will not be given a refund.</li>
                    <li>I/We agree that organisers and sponsors of the event may use any information
                        given to the organisers for purposes connected to the event and to provide me/us
                        with details of other products, services, and events.</li>
                    <li>I/We agree to allow any photographic, film or audio likeness to be used by the
                        organisers, sponsors and/or assignees at no cost.</li>
                    <li>I/We will not hold the organisers, officials, sponsors and/or any person
                        involved with the event liable for any loss or injury to person or equipment.
                    </li>
                    <li>I/We agree to take responsibility for my/our own actions and will not take legal
                        proceedings (whether by myself, or by my executors, administrators, heirs, next
                        of kin and/or successors) for any matter against the following persons or
                        entities - Far North Flash Cycling Club, land managers and/or event sponsors,
                        event organisers, volunteers, all cities, towns, regions, districts, properties
                        and/or other areas in which the event may be staged, and their (its)
                        representatives, respective officers, directors, employees, independent
                        contractors, representatives, agents and volunteers.</li>
                    <li>I/We understand that I/we must not wear earphones while in the race.</li>
                    <li>I/We understand that any form of littering during the event may lead to my
                        disqualification from the race.</li>
                    <li>I/We agree and confirm that I/we have read, understand and accept all
                        information, rules, waivers as provided on the event website, and I/we will
                        abide by the event organisers decisions at All times.</li>
                    <li>If I have entered and am under the age of 18 years of age, my terms and
                        conditions have been read and agreed to by my consenting adult.</li>
                </ul>
            </div>
        </div>
    </div>
</main>
{{ end }}

{{ define "script" }}
<script>
    mdc.autoInit();
    const iconButtonRipple = new mdc.ripple.MDCRipple(document.querySelector('.mdc-icon-button'));
    iconButtonRipple.unbounded = true;
</script>

{{ end }}