{{ define "header" }}
<link rel="stylesheet" href="/material-photo-gallery.css" />
{{ end }}

{{ define "main" }}
<main class="mdc-top-app-bar--fixed-adjust">
    <div class="mdc-layout-grid container">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                <h2 class="mdc-typography--headline3 mt-1 mb-0">C2K 2021</h2>

                <p class="mdc-typography--body2 mb-2">
                    19-Jun-2021
                </p>

                <div class="m-p-g">
                    <div class="m-p-g__thumbs" data-google-image-layout data-max-height="400">
                        <img src="/gallery-2021/1-thumb.webp" data-full="/gallery-2021/1.webp"
                            class="m-p-g__thumbs-img" />
                        <img src="/gallery-2021/2-thumb.webp" data-full="/gallery-2021/2.webp"
                            class="m-p-g__thumbs-img" />
                        <img src="/gallery-2021/3-thumb.webp" data-full="/gallery-2021/3.webp"
                            class="m-p-g__thumbs-img" />
                        <img src="/gallery-2021/4-thumb.webp" data-full="/gallery-2021/4.webp"
                            class="m-p-g__thumbs-img" />
                        <img src="/gallery-2021/5-thumb.webp" data-full="/gallery-2021/5.webp"
                            class="m-p-g__thumbs-img" />
                    </div>

                    <div class="m-p-g__fullscreen"></div>
                </div>
            </div>
        </div>
    </div>
</main>
{{ end }}

{{ define "script" }}
<script src="/material-photo-gallery.min.js"></script>
<script>
    mdc.autoInit();
    document.querySelectorAll('.mdc-button').forEach(
        function (ele) {
            mdc.ripple.MDCRipple.attachTo(ele);
        });
    const iconButtonRipple = new mdc.ripple.MDCRipple(document.querySelector('.mdc-icon-button'));
    iconButtonRipple.unbounded = true;

    // Select gallery element.
    var elem = document.querySelector('.m-p-g')

    // Init gallery
    document.addEventListener('DOMContentLoaded', function () {
        var gallery = new MaterialPhotoGallery(elem);
    });
</script>
{{ end }}