<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
    <meta name="description" content="Offical Website of the scenic cycle ride from Cape Reinga lighthouse to Kaitaia.">
    <title>Cape to Kaitaia Cycle Challenge</title>
    <meta property="og:title" content="Cape to Kaitaia Cycle Challenge">
    <meta property="og:site_name" content="Cape to Kaitaia">
    <meta property="og:type" content="website">
    <meta property="og:description"
        content="Offical Website of the scenic cycle ride from Cape Reinga lighthouse to Kaitaia.">
    <meta property="og:url" content="https://c2k.co.nz" />
    <meta property="og:image" content="https://c2k.co.nz/og.jpg" />
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="manifest" href="manifest.json">

    <meta name="theme-color" content="#121212" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Cape to Kaitaia">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    {{ $style := resources.Get "scss/app.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://forecast7.com/en/n34d50172d80/cape-reinga/">
    <link rel="preconnect" href="https://forecast7.com/en/n35d12173d27/kaitaia/">

    <link rel="preload" href="material-components-web.min.css?v={{ $.Site.Params.mdcVersion }}" as="style">
    <link rel="preload" href="{{ $style.Permalink }}" as="style">
    <link rel="preload" href="material-components-web.min.js?v={{ $.Site.Params.mdcVersion }}" as="script">
    <link rel="preload" href="banner.webp" as="image">
    <link rel="preload" href="https://weatherwidget.io/js/widget.min.js" as="script">

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0&display=block" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap">
    <link rel="stylesheet" href="material-components-web.min.css?v={{ $.Site.Params.mdcVersion }}">
    <link rel="stylesheet" href="{{ $style.Permalink }}">
</head>

<body class="mdc-typography mdc-typography--body1">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <header class="mdc-top-app-bar mdc-top-app-bar--fixed">
        <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section">
                <a class="x-center" href="/">
                    <span class="mdc-top-app-bar__title pl-0">CAPE TO KAITAIA</span>
                </a>
            </section>
        </div>
    </header>
    <main class="mdc-top-app-bar--fixed-adjust">
        <div class="mdc-layout-grid pad-0">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 banner-image"
                    style="background-image: url('banner.webp');">
                </div>
            </div>
        </div>
        <div class="mdc-layout-grid align-center container mt-1">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                    <span class="material-symbols-outlined md-48 icon-color">directions_bike</span>
                    <p class="mdc-typography--headline6 my-0">
                        111 kms
                    </p>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                    <p>
                        After much reflection and discussion, we have decided not to run C2K Cycle Challenge anymore.
                    </p>
                    <p>
                        We thank you for your support over the years.
                    </p>
                </div>
            </div>
        </div>
        <hr class="thick-line">
        <div class="mdc-layout-grid container">
            <div class="mdc-layout-grid__inner">
                <div
                    class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone pad-2 border round-corners">
                    <p class="mdc-typography--headline5 my-0 align-center">
                        2021 Top 3 Male Riders
                    </p>
                    <div class="underline x-center"></div>
                    <div style="display: flex;">
                        <div style="flex: 0 0 20%;">
                            <p class="my-0">
                                1
                            </p>
                        </div>
                        <div style="flex-grow: 1;">
                            <p class="my-0">
                                Stuart Holder
                            </p>
                        </div>
                        <div>
                            <p class="my-0">
                                03:01:13
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div style="display: flex;">
                        <div style="flex: 0 0 20%;">
                            <p class="my-0">
                                2
                            </p>
                        </div>
                        <div style="flex-grow: 1;">
                            <p class="my-0">
                                Dan Furminger
                            </p>
                        </div>
                        <div>
                            <p class="my-0">
                                03:01:34
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div style="display: flex;">
                        <div style="flex: 0 0 20%;">
                            <p class="my-0">
                                3
                            </p>
                        </div>
                        <div style="flex-grow: 1;">
                            <p class="my-0">
                                Matthew Markby
                            </p>
                        </div>
                        <div>
                            <p class="my-0 ml-2">
                                03:01:41
                            </p>
                        </div>
                    </div>
                </div>
                <div
                    class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone pad-2 border round-corners">
                    <p class="mdc-typography--headline5 my-0 align-center">
                        2021 Top 3 Female Riders
                    </p>
                    <div class="underline x-center"></div>
                    <div style="display: flex;">
                        <div style="flex: 0 0 20%;">
                            <p class="my-0">
                                1
                            </p>
                        </div>
                        <div style="flex-grow: 1;">
                            <p class="my-0">
                                Ruth Hutchinson
                            </p>
                        </div>
                        <div>
                            <p class="my-0">
                                03:29:23
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div style="display: flex;">
                        <div style="flex: 0 0 20%;">
                            <p class="my-0">
                                2
                            </p>
                        </div>
                        <div style="flex-grow: 1;">
                            <p class="my-0">
                                Jane Sweeney
                            </p>
                        </div>
                        <div>
                            <p class="my-0">
                                03:29:34
                            </p>
                        </div>
                    </div>
                    <hr>
                    <div style="display: flex;">
                        <div style="flex: 0 0 20%;">
                            <p class="my-0">
                                3
                            </p>
                        </div>
                        <div style="flex-grow: 1;">
                            <p class="my-0">
                                Paula Lang
                            </p>
                        </div>
                        <div>
                            <p class="my-0">
                                03:29:34
                            </p>
                        </div>
                    </div>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 align-center">
                    <a href="/results-2021">
                        <div class="mdc-button mdc-button--outlined">
                            <div class="mdc-button__ripple"></div>
                            <span class="mdc-button__label">View 2021 Results</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <hr class="thick-line">
        <div class="mdc-layout-grid container py-0">
            <div class="mdc-layout-grid__inner">
                <div
                    class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone pad-2 border round-corners">
                    <p class="mdc-typography--headline5 align-center mt-0 mb-2">
                        Cape Reinga
                    </p>
                    <a class="weatherwidget-io" href="https://forecast7.com/en/n34d50172d80/cape-reinga/"
                        rel="noopener noreferrer" data-font="Roboto" data-icons="Climacons Animated"
                        data-mode="Forecast" data-theme="pure" data-basecolor="#fafafa" data-accent="#fafafa"
                        data-textcolor="#333">Paihia, New Zealand</a>
                    <script>
                        !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
                    </script>
                </div>
                <div
                    class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone pad-2 border round-corners">
                    <p class="mdc-typography--headline5 align-center mt-0 mb-2">
                        Kaitaia
                    </p>
                    <a class="weatherwidget-io" href="https://forecast7.com/en/n35d12173d27/kaitaia/"
                        rel="noopener noreferrer" data-font="Roboto" data-icons="Climacons Animated"
                        data-mode="Forecast" data-theme="pure" data-basecolor="#fafafa" data-accent="#fafafa"
                        data-textcolor="#333">Paihia, New Zealand</a>
                    <script>
                        !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
                    </script>
                </div>
            </div>
        </div>
        <hr class="thick-line">
        <div class="mdc-layout-grid container">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 pad-2">
                    <h4 class="mdc-typography--headline4 align-center mt-0">
                        Ride History
                    </h4>
                    <p>
                        Cape to Kaitaia Cycle Challenge used to be held every year on the 3rd Saturday of June (2009 -
                        2021). The ride was hosted by the Far North Flash Cycling Club and supported by local, and not
                        so local, businesses.
                    </p>
                    <p>
                        It is a unique ride in that it is New Zealand's northernmost Cycle Challenge. It starts at the
                        beautiful Cape Reinga and meanders its way south down S.H.1 to Kaitaia. It is about 111kms in
                        distance and has a mixture of terrain to challenge both the novice and the hardened cyclist.
                        There are no signposts to say which way to go... it's just one straight drag south.
                    </p>
                    <p>
                        Along the way you pass by Waitiki Landing (the last store), Te Kao (which boast the largest
                        ice creams in the far north), through Houhora (fishing resort), Awanui (home of the Kauri)
                        and finishing in the lazy metropolis of Kaitaia.
                    </p>
                </div>
            </div>
        </div>
        <hr class="thick-line">
        <div class="mdc-layout-grid container">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 x-center">
                    <p class="mdc-typography--body2 my-0">
                        Designed and Engineered in NZ by <a href="https://ownage.co.nz" target="_blank"
                            rel="noopener noreferrer">Ownage</a>.
                    </p>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 hidden-phone align-center">
                    <a href="/terms">
                        <span class="mdc-typography--body2 mx-1 text-muted">
                            Terms of Use
                        </span>
                    </a>
                    <span class="text-muted">&nbsp;&nbsp;|</span>
                    <a href="/privacy">
                        <span class="mdc-typography--body2 mx-1 text-muted">
                            Privacy Policy
                        </span>
                    </a>
                </div>
                <div
                    class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 align-center hidden-tablet hidden-desktop">
                    <p class="mt-0">
                        <a href="/terms">
                            <span class="mdc-typography--body2 mx-1 text-muted">
                                Terms of Use
                            </span>
                        </a>
                    </p>
                    <p class="mb-0">
                        <a href="/privacy">
                            <span class="mdc-typography--body2 mx-1 text-muted">
                                Privacy Policy
                            </span>
                        </a>
                    </p>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 x-center">
                    <span class="mdc-typography--caption">
                        &copy; <span id="current-year"></span> &nbsp; Cape to Kaitaia
                    </span>
                </div>
            </div>
        </div>
    </main>

    <script src="material-components-web.min.js?v={{ $.Site.Params.mdcVersion }}"></script>
    <script>
        mdc.autoInit();
        document.querySelectorAll('.mdc-button').forEach(
            function (ele) {
                mdc.ripple.MDCRipple.attachTo(ele);
            });
        window.addEventListener('load', () => {
            quicklink.listen();
        });
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('service-worker.js')
                    .then((reg) => {
                        //console.log('Service worker registered.', reg);
                        console.log('Service worker registered.');
                    });
            });
        }

        document.getElementById("current-year").innerHTML = new Date().getFullYear();
    </script>
    <script src="install.js"></script>
    <script async src="quicklink.umd.js?v=2.1.0"></script>
    <script async src="pwacompat.js"></script>
</body>

</html>